.Rproj.user
.Rhistory
.RData
.Ruserdata
outputs
code/path_to_data.R
code/infographic/Awareness1.svg
code/infographic/Awareness2.svg
code/infographic/Awareness3.svg
code/infographic/Awareness4.svg
code/infographic/Awareness5.svg
code/infographic/info1.svg
code/infographic/info2.svg
code/infographic/info3.svg
code/infographic/info4.svg
code/infographic/trust1.svg
code/infographic/trust2.svg
code/infographic/trust3.svg
code/infographic/trust4.svg
*.pdf